<?xml version="1.0" encoding="utf-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
<Document>
    <!-- スタイルを定義 -->
    <Style id="Place">
      <IconStyle>
        <Icon><href>https://dl.dropboxusercontent.com/u/20852942/favicon.ico</href></Icon>
      </IconStyle>
    </Style>
<% @list.each do |row| %>

<Placemark>
<name><%= row[:name] %></name>
<styleUrl>#Place</styleUrl>
<Point>
<coordinates><%= row[:longitude]%>,<%= row[:latitude] %></coordinates>
</Point>
<description><![CDATA[
<div style='width:100px; text-align: center;'><div><%= row[:desc]%></div><img src='/img/thumb/<%= row[:open_id]%>.jpg' /></div>
]]></description>
</Placemark>

<% end %>
</Document>
</kml>
